<a href="https://colab.research.google.com/github/devphillipe/resolucao-challenge-alura-store/blob/main/Resolu%C3%A7%C3%A3o_Challenge_Alura_Store.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importa√ß√£o dos dados

In [21]:
import pandas as pd

# Carregar dados das 4 lojas
urls = [
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"
]

dfs = [pd.read_csv(url) for url in urls]
df = pd.concat(dfs, ignore_index=True)

#1. An√°lise do faturamento

In [22]:
# Calcular faturamento
df['Faturamento'] = df['Pre√ßo']
df['Quantidade'] = 1  # Cada linha √© 1 produto vendido

# 1. Faturamento total
total_faturamento = df['Faturamento'].sum()
print(f"\nüßæ Faturamento Total: R$ {total_faturamento:,.2f}".replace(",", "X").replace(".", ",").replace("X", "."))

üßæ Faturamento Total: R$ 5.871.490,79

# 2. Vendas por Categoria

In [23]:
# 2. Vendas por categoria
vendas_categoria = df.groupby('Categoria do Produto')['Faturamento'].sum().sort_values(ascending=False)
print("\nüì¶ Vendas por Categoria:")
for categoria, valor in vendas_categoria.items():
    print(f"{categoria}: R$ {valor:,.2f}".replace(",", "X").replace(".", ",").replace("X", "."))

üì¶ Vendas por Categoria:
eletronicos: R$ 2.214.099,72
eletrodomesticos: R$ 1.766.337,03
moveis: R$ 1.010.214,00
instrumentos musicais: R$ 465.029,67
esporte e lazer: R$ 190.635,39
brinquedos: R$ 98.140,86
utilidades domesticas: R$ 76.773,38
livros: R$ 50.260,74

# 3. M√©dia de Avalia√ß√£o das Lojas

In [24]:
# 3. M√©dia de Avalia√ß√£o das Lojas
media_avaliacoes = df.groupby('Local da compra')['Avalia√ß√£o da compra'].mean().sort_values(ascending=False)
print("\n‚≠ê M√©dia de Avalia√ß√£o por Loja:")
print(media_avaliacoes.round(2))

‚≠ê M√©dia de Avalia√ß√£o por Loja:
Local da compra
RN    4.21
SP    4.11
MT    4.11
MS    4.10
MG    4.09
PB    4.09
PR    4.08
AM    4.07
DF    4.02
RS    4.02
ES    4.02
SC    4.01
PE    3.98
GO    3.94
RO    3.89
TO    3.83
BA    3.80
PI    3.80
AP    3.78
RJ    3.78
PA    3.69
MA    3.68
AC    3.67
AL    3.63
CE    3.60
SE    3.46
RR    3.00
Name: Avalia√ß√£o da compra, dtype: float64

# 4. Produtos Mais e Menos Vendidos

In [25]:
# 4. Produtos mais vendidos
mais_vendidos = df.groupby('Produto')['Quantidade'].sum().sort_values(ascending=False).head(10)
print("\nüî• Top 10 Produtos Mais Vendidos:")
print(mais_vendidos)

üî• Top 10 Produtos Mais Vendidos:
Produto
C√¥moda                      210
Carrinho controle remoto    206
Micro-ondas                 206
Bateria                     203
Cama king                   201
Jogo de panelas             200
Modelagem preditiva         200
Secadora de roupas          200
Blocos de montar            199
Cama box                    199
Name: Quantidade, dtype: int64

In [26]:
menos_vendidos = df.groupby('Produto')['Quantidade'].sum().sort_values().head(10)
print("\n‚ùÑÔ∏è Top 10 Produtos Menos Vendidos:")
print(menos_vendidos)

‚ùÑÔ∏è Top 10 Produtos Menos Vendidos:
Produto
Celular ABXY                   157
Headset                        158
Mochila                        163
Guitarra                       165
Ci√™ncia de dados com python    166
Assistente virtual             167
Poltrona                       168
Jogo de copos                  169
Smartwatch                     172
Panela de press√£o              172
Name: Quantidade, dtype: int64

# 5. Frete M√©dio por Loja

In [27]:
# 5. Frete m√©dio por loja
frete_medio = df.groupby('Local da compra')['Frete'].mean().sort_values(ascending=False)
print("\nüöö Frete M√©dio por Loja:")
for loja, frete in frete_medio.items():
    print(f"{loja}: R$ {frete:,.2f}".replace(",", "X").replace(".", ",").replace("X", "."))

üöö Frete M√©dio por Loja:
RR: R$ 113,67
AC: R$ 49,36
RO: R$ 46,35
RN: R$ 40,09
GO: R$ 38,13
PI: R$ 36,95
RS: R$ 36,58
PE: R$ 35,72
MA: R$ 35,13
PR: R$ 34,57
RJ: R$ 33,94
PB: R$ 33,91
MS: R$ 33,69
TO: R$ 33,46
MG: R$ 33,46
AL: R$ 33,26
ES: R$ 33,20
SP: R$ 32,71
MT: R$ 32,69
PA: R$ 30,63
SE: R$ 30,49
BA: R$ 30,26
DF: R$ 30,19
SC: R$ 29,84
AM: R$ 29,37
CE: R$ 25,00
AP: R$ 21,65